## 데이터 수집

In [1]:
import pandas as pd
child_h = pd.read_csv('어린이보호구역현황(개방표준).csv', encoding ='CP949')
cctv = pd.read_csv('CCTV현황(개방표준).csv', encoding ='CP949')
walk_child = pd.read_csv('보행어린이사고다발지현황.csv', encoding ='CP949')
kindergarden = pd.read_csv('어린이집및유치원현황.csv', encoding ='CP949')
elementery = pd.read_csv('초등학교현황.csv', encoding ='CP949')
school_number = pd.read_csv('학교현황(학생수)(초,중,고,그외).csv', encoding ='CP949')

### 0~13세 아이 동별 실거주자 인구 수 데이터 정제

In [91]:
child_population = pd.read_excel('연령별 인구 데이터 수정.xlsx', index_col=0)
child_population.head()

,시흥시,대야동,신천동,신현동,은행동,매화동,목감동,군자동,월곶동,정왕본동,정왕1동,정왕2동,정왕3동,정왕4동,배곧동,과림동,연성동,장곡동,능곡동
합 계,"510,098","44,784","36,284","9,961","55,843","12,130","42,276","22,041","16,016","20,309","22,544","32,129","22,937","21,351","71,201","1,977","23,855","31,092","23,368"
0세,"3,423",314,113,38,498,33,425,69,90,91,85,146,121,115,713,4,122,234,212
1세,"3,946",355,114,32,585,49,514,108,112,106,97,163,116,119,867,5,142,255,207
2세,"4,380",341,118,41,670,46,567,119,109,105,100,201,163,113,958,6,163,317,243
3세,"4,709",383,116,41,799,59,544,125,136,112,117,212,136,165,"1,045",4,163,319,233

In [92]:
child_population = child_population.T
child_population

,합 계,0세,1세,2세,3세,4세,5세,6세,7세,8세,...,101세,102세,103세,104세,105세,106세,107세,108세,109세,110세 이상
시흥시,"510,098","3,423","3,946","4,380","4,709","5,179","5,581","5,618","5,169","5,616",...,12,10,10,7,6,5,5,4,2,21
대야동,"44,784",314,355,341,383,350,415,357,338,317,...,1,1,1,2,0,1,0,0,0,1
신천동,"36,284",113,114,118,116,169,164,187,181,222,...,3,5,0,2,3,1,0,1,0,3
신현동,"9,961",38,32,41,41,41,54,35,44,48,...,3,0,0,0,0,1,0,1,0,3
은행동,"55,843",498,585,670,799,864,912,847,726,730,...,1,0,1,0,0,1,1,0,0,1
매화동,"12,130",33,49,46,59,64,81,71,88,80,...,1,1,0,1,0,0,0,0,0,0
목감동,"42,276",425,514,567,544,676,657,733,576,580,...,2,2,2,1,2,0,1,0,1,2
군자동,"22,041",69,108,119,125,139,190,188,153,205,...,0,0,1,0,0,1,1,1,1,5
월곶동,"16,016",90,112,109,136,137,133,158,141,175,...,0,0,1,0,1,0,1,0,0,0
정왕본동,"20,309",91,106,105,112,109,138,107,108,138,...,1,0,0,0,0,0,0,0,0,2
정왕1동,"22,544",85,97,100,117,123,130,158,166,151,...,0,0,0,0,0,0,0,0,0,1
정왕2동,"32,129",146,163,201,212,243,269,259,248,307,...,0,0,1,0,0,0,0,0,0,0
정왕3동,"22,937",121,116,163,136,161,197,190,190,209,...,0,1,0,0,0,0,0,0,0,0
정왕4동,"21,351",115,119,113,165,155,180,196,180,225,...,0,0,1,0,0,0,0,0,0,0
배곧동,"71,201",713,867,958,"1,045","1,148","1,246","1,250","1,186","1,288",...,0,0,1,0,0,0,0,0,0,0
과림동,"1,977",4,5,6,4,3,4,3,4,5,...,0,0,0,1,0,0,0,0,0,1
연성동,"23,855",122,142,163,163,179,173,180,179,203,...,0,0,0,0,0,0,1,1,0,2
장곡동,"31,092",234,255,317,319,366,398,455,421,447,...,0,0,1,0,0,0,0,0,0,0
능곡동,"23,368",212,207,243,233,252,240,244,240,286,...,0,0,0,0,0,0,0,0,0,0

In [93]:
child_population = child_population.iloc[:, [i for i in range(1, 15)]]
child_population

,0세,1세,2세,3세,4세,5세,6세,7세,8세,9세,10세,11세,12세,13세
시흥시,"3,423","3,946","4,380","4,709","5,179","5,581","5,618","5,169","5,616","5,498","5,398","5,013","5,160","5,329"
대야동,314,355,341,383,350,415,357,338,317,327,323,281,322,370
신천동,113,114,118,116,169,164,187,181,222,219,255,239,262,294
신현동,38,32,41,41,41,54,35,44,48,63,67,62,73,74
은행동,498,585,670,799,864,912,847,726,730,699,659,583,612,595
매화동,33,49,46,59,64,81,71,88,80,95,108,101,113,102
목감동,425,514,567,544,676,657,733,576,580,571,484,403,360,375
군자동,69,108,119,125,139,190,188,153,205,235,204,232,198,238
월곶동,90,112,109,136,137,133,158,141,175,185,173,167,146,173
정왕본동,91,106,105,112,109,138,107,108,138,127,110,117,117,123
정왕1동,85,97,100,117,123,130,158,166,151,150,185,193,198,198
정왕2동,146,163,201,212,243,269,259,248,307,331,297,345,369,381
정왕3동,121,116,163,136,161,197,190,190,209,226,202,209,227,227
정왕4동,115,119,113,165,155,180,196,180,225,201,225,234,254,241
배곧동,713,867,958,"1,045","1,148","1,246","1,250","1,186","1,288","1,158","1,111",965,956,940
과림동,4,5,6,4,3,4,3,4,5,1,9,1,7,1
연성동,122,142,163,163,179,173,180,179,203,213,238,250,245,290
장곡동,234,255,317,319,366,398,455,421,447,469,488,399,437,430
능곡동,212,207,243,233,252,240,244,240,286,228,260,232,264,277